e!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		
		<title>Old Blog Template - Free CSS Layout</title>
		{{response.files.append(URL(request.application,'static','oldblog/templatemo_style.css'))}}
		{{response.files.append(URL(request.application,'static','oldblog/tabcontent.css'))}}
		{{include 'web2py_ajax.html'}}
		{{response.files.append(URL('static','oldblog/tabcontent.js'))}}

	</head>
	<body>
						{{include}}

		</body>
</html>
