/*
CSS Credit: http://www.templatemo.com/
*/

/* content */
#templatemo_content {
	float: left;
	width: 900px;
	background: #FFFFFF;
}

#templatemo_leftcolumn {
	float: left;
	width: 510px;
	padding: 30px 0px 0px 50px;
}


	text-decoration: none;
}

/* ----- End of Footer ----- */
